{% include 'essential/messages.html' %}
{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href={% static 'css/header.css' %}>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title> Bangla News Paper</title>
</head>

<body>
<div id="particles-js">
    <nav class="navbar navbar-light navbar-expand-md bg-faded justify-content-center" id="navigationbar">
        <a class="navbar-brand d-flex w-50 mr-auto" href={% url 'Index' %}>
            <h2 style="padding-left: 10px; padding-bottom: 5px; background: cadetblue; border-radius: 5px; margin-bottom: 0;">
                Bangla News Paper &nbsp;
            </h2>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse w-100" id="navbarSupportedContent">
            <ul class="navbar-nav w-100 justify-content-center">
                <li class="nav-item">
                    <a class="nav-link navoption btn btn1" href={% url 'Index' %}>Main Page</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navoption btn btn1" href='#'>Latest News</a>
                </li>
            </ul>

            {% if user.is_authenticated %}
                <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link navoption btn btn1">{{ user.username.upper }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navoption btn btn1" onclick="logout_confirmation()">Log Out</a>
                    </li>
                </ul>
            {% else %}
                <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link navoption btn btn1" href='#'>Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navoption btn btn1" href='#'>Sign Up</a>
                    </li>
                </ul>
            {% endif %}
        </div>
    </nav>